name: db_peep
version: 1.0.0+1
description: A search engine app like Google, made by PMB SIAM

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  url_launcher: ^6.1.10

flutter:
  uses-material-design: true
